:root {
	--font-family: system-ui, sans-serif;

	--background-color: #fff;
	--text-color: #333;
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #15202b;
		--text-color: #dad8d8;
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}

:is(h1, h2, h3, h4):first-child {
	margin-top: 0;
}

button {
	font-family: inherit;
}

/* via https://www.zachleat.com/web/fluid-images/ */
img {
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}