:root {
	--font-family: system-ui, sans-serif;
	--background-color: #fff;
	--text-color: #333;
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;
	color-scheme: light;
}

/* TODO use a tool to generate these to prevent author-time code duplication */
:root.theme-dark {
	--background-color: #15202b;
	--text-color: #dad8d8;
	--text-color-link: #1493fb;
	--text-color-link-active: #6969f7;
	--text-color-link-visited: #a6a6f8;
	color-scheme: dark;
}
/* System wants dark, make sure sure light mode is not selected */
@media (prefers-color-scheme: dark) {
	:root:not(.theme-light) {
		--background-color: #15202b;
		--text-color: #dad8d8;
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;
		color-scheme: dark;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}
/* :root {
  color-scheme: light dark;
} */
html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
main,
footer {
	margin: 0 auto;
	max-width: 60em;
}
:is(h1, h2, h3, h4):first-child {
	margin-top: 0;
}
input,
select,
button {
	font-family: inherit;
	font-size: inherit;
	background: inherit;
	color: inherit;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

/* via https://www.zachleat.com/web/fluid-images/ */
img {
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}