.heading-link {
	font-size: 1.125rem; /* 18px /16 */
	text-decoration: none;
	padding: .1em .2em .1em 0;
}
@media (min-width: 43.75em) { /* 700px */
	page-layout-sidebar .heading-link {
		margin-left: -1.222222222222rem; /* -22px /18 */
	}
}
a.heading-link[href],
a.heading-link[href]:visited {
	color: var(--color-accent);
}