.heading-link {
	margin-left: .25em;
	font-size: 1.125rem; /* 18px /16 */
	text-decoration: none;
	padding: .1em .2em;
	background-color: #f5f5f5;
}
.heading-link[href],
.heading-link[href]:visited {
	color: #777;
}

@media (prefers-color-scheme: dark) {
	.heading-link {
		background-color: transparent;
	}
	.heading-link[href],
	.heading-link[href]:visited {
		color: #999;
	}
}